*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    scroll-behavior: smooth;
}

nav{
    width: 85%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

   
 .logo{
        width: 120px;
        cursor: pointer;
 }

 nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
 }
 
 nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
 }

 nav ul li:hover{
    color: brown;
 }

 button{
    margin-top: 20px;
padding: 10px 20px;
border-radius: 20px;
border: 1px solid black;
background: #000;
color: #fff;
/*outline: none;*/
transition: 0.3s linear;
 }

 button:hover{
    color: brown;
 }


.img1, .img2, .img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.img1{
    background-image: url(./images/main.jpg);
    min-height: 100%;
    object-fit: cover;
    
}

.img2{

    background-image: url(./images/pexels-jay-johnson-6335850.jpg) ;
    min-height: 400px;
}

.img3{
    background-image: url(./images/dp.jpg);
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
    justify-content: center;
    text-align: center;

}

.section-car1{
    background-color: black;
    color: #fff;
}

.section-car2{
    background-color: black;
    color: #fff;
}
.section-car3{
    background-color: black;
    color: #fff;
}


p{
    line-height: 20x;
    margin-top: 5%;
    font-style: normal;
}
.txt1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
   
}



.text1 .border{
    background-color: black;
    color: #fff;
}

.para{
    font-size: 20px;
    margin: 20px auto;
    text-transform: lowercase;
    letter-spacing: 0;
}


.heading{
    text-align: center;
    margin: 40px;
    font-weight: 700;
    font-size: 25px;

}

.heading p{
    font-size: 0.93rem;
    font-weight: 300;
   margin-top: 2px;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
    grid-template-columns: minmax(3,1fr);
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
transform: scale(1.1);
transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: white;
    padding: 8px;
}


.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: linear-gradient(90deg, black 0%, black 100%);
    position: absolute;
    left: 0;
    right: 0;
}
   


.footer-content .footer-logo{
    width: 120px;

}

.footer-content h4{
font-size: 20px;
color: #d6d6d6;
}


.footer-content h2{
    margin: 20px;
}
.footer-content li{
  list-style: none;
  align-items: center;
  margin-left: 50px;
}

.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 10px;
    font-weight: 200;
    transition: all 0.4s ease;
    list-style: none;
    text-decoration: none;
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}


.footer-content p{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin: 20px 0;
}

.footer-icons a{
    display: inline-flex;
    background-color: #fff;
} 